@font-face {
  font-family: 'MiSans';
  src: url('https://cdn.jsdelivr.net/npm/misans@4.0/lib/Normal/MiSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn.jsdelivr.net/npm/misans@4.0/lib/Normal/MiSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn.jsdelivr.net/npm/misans@4.0/lib/Normal/MiSans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSans';
  src: url('https://cdn.jsdelivr.net/npm/misans@4.0/lib/Normal/MiSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSans Mono';
  src: url('https://cdn.jsdelivr.net/npm/misans@4.0/lib/Normal/MiSans-Normal-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MiSans Mono';
  src: url('https://cdn.jsdelivr.net/npm/misans@4.0/lib/Normal/MiSans-Normal-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}